# How to build a database of Balance Sheet information with Yahoo Finance + Python

This notebook is a basic example of how to use _yahoofinancials_ library to build your own database of fundamental information of publicly traded companies

In [73]:
from yahoofinancials import YahooFinancials
import pandas as pd

For this first example, financial fundamentals will be retrieved from the largest companies in Nasdaq Exchange (+$200B). 
* To get this data (available in "_.data/nasdaq_screener_") go to https://www.nasdaq.com/market-activity/stocks/screener, filter by Exchange (Nasdaq) and Market Cap (Mega)

![alt text](images/filtered.png "Title")

1. Read data with pandas library

In [61]:
data = pd.read_csv('data/nasdaq_screener.csv')

2. Define function to read a single ticker

In [62]:
def Balance_Sheet_read(ticker):
    '''
    This function retrieves balance sheet history from a company
    Parameters:
        ticker: ticker of a company
    Returns:
        df: pandas dataframe with Balance Sheet information of the ticker (annually)
    '''
    yahoo_financials = YahooFinancials(ticker)
    data = yahoo_financials.get_financial_stmts('annual', 'balance')
    data_bs = data['balanceSheetHistory']
    data_bs = data_bs[ticker]
    dates = []
    values = []
    for d in data_bs:
        dates.append(*(d.keys()))
        values.append(*(d.values()))
    
    df = pd.DataFrame.from_dict(values)
    df['dates'] = dates
    df['ticker'] = ticker
    print('Loading {}......'.format(ticker))
    
    return df

Let's try to read the tickers of our dataframe...

In [68]:
symbols = data['Symbol']
symbols

0      AAPL
1      ADBE
2      AMZN
3      ASML
4     CMCSA
5      CSCO
6        FB
7      GOOG
8     GOOGL
9      INTC
10     MSFT
11     NFLX
12     NVDA
13      PEP
14     PYPL
15     TSLA
Name: Symbol, dtype: object

In [71]:
cnt = 0
for ticker in symbols:
    if ticker == symbols[0]:
        df = Balance_Sheet_read(ticker)
    else:
        try:
            df_tmp = Balance_Sheet_read(ticker)
            df =  pd.concat([df_tmp, df], ignore_index=True)
        except TypeError:
            pass

Loading AAPL......
Loading ADBE......
Loading AMZN......
Loading ASML......
Loading CMCSA......
Loading CSCO......
Loading FB......
Loading GOOG......
Loading GOOGL......
Loading INTC......
Loading MSFT......
Loading NFLX......
Loading NVDA......
Loading PEP......
Loading PYPL......
Loading TSLA......

In [72]:
df

,intangibleAssets,capitalSurplus,totalLiab,totalStockholderEquity,minorityInterest,otherCurrentLiab,totalAssets,commonStock,otherCurrentAssets,retainedEarnings,...,netReceivables,longTermDebt,inventory,accountsPayable,longTermInvestments,dates,ticker,deferredLongTermAssetCharges,shortTermInvestments,deferredLongTermLiab
0,3.130000e+08,2.726000e+10,28469000000,22225000000,1.454000e+09,4147000000,52148000000,1.000000e+06,2.380000e+08,-5399000000,...,1.903000e+09,8.571000e+09,4.101000e+09,6051000000,NaN,2020-12-31,TSLA,NaN,NaN,NaN
1,3.390000e+08,1.273600e+10,26199000000,6618000000,1.492000e+09,3693000000,34309000000,1.000000e+06,2.460000e+08,-6083000000,...,1.324000e+09,1.037500e+10,3.552000e+09,3771000000,1.000000e+06,2019-12-31,TSLA,NaN,NaN,NaN
2,2.820000e+08,1.024900e+10,23427000000,4923000000,1.390000e+09,2955000000,29740000000,NaN,1.930000e+08,-5318000000,...,9.490000e+08,8.461000e+09,3.113000e+09,3405000000,1.200000e+07,2018-12-31,TSLA,NaN,NaN,NaN
3,3.615020e+08,9.178024e+09,23023050000,4237242000,1.395080e+09,3098379000,28655372000,1.690000e+05,1.553230e+08,-4974299000,...,5.153810e+08,9.486248e+09,2.263537e+09,2390250000,5.304000e+06,2017-12-31,TSLA,NaN,NaN,NaN
4,1.048000e+09,1.664400e+10,50316000000,20019000000,4.400000e+07,36066000000,70379000000,NaN,3.346000e+10,12366000000,...,3.388000e+09,8.939000e+09,NaN,252000000,6.082000e+09,2020-12-31,PYPL,142000000.0,8.289000e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,3.856580e+08,5.082195e+09,6075687000,8459869000,NaN,2421744000,14535556000,6.100000e+04,1.419800e+07,9573870000,...,1.217968e+09,1.882479e+09,NaN,113538000,NaN,2017-12-01,ADBE,NaN,3.513702e+09,NaN
60,NaN,NaN,258549000000,65339000000,NaN,47867000000,323888000000,5.077900e+10,1.126400e+10,14966000000,...,3.744500e+10,9.866700e+10,4.061000e+09,42296000000,1.008870e+11,2020-09-26,AAPL,NaN,5.292700e+10,NaN
61,NaN,NaN,248028000000,90488000000,NaN,43242000000,338516000000,4.517400e+10,1.235200e+10,45898000000,...,4.580400e+10,9.180700e+10,4.106000e+09,46236000000,1.053410e+11,2019-09-28,AAPL,NaN,5.171300e+10,NaN
62,NaN,NaN,258578000000,107147000000,NaN,39293000000,365725000000,4.020100e+10,1.208700e+10,70400000000,...,4.899500e+10,9.373500e+10,3.956000e+09,55888000000,1.707990e+11,2018-09-29,AAPL,NaN,4.038800e+10,NaN
63,NaN,NaN,241272000000,134047000000,NaN,38099000000,375319000000,3.586700e+10,1.393600e+10,98330000000,...,3.567300e+10,9.720700e+10,4.855000e+09,44242000000,1.947140e+11,2017-09-30,AAPL,NaN,5.389200e+10,NaN